.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 120px;
  color: white;
}
.nav-logo {
  font-family: Outfit;
  font-size: 30px;
  font-weight: 500;
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 17px;
  gap: 90px;
}
.nav-contact {
  border-radius: 50px;
  padding: 10px 38px;
  background: #fff;
  color: #262626;
}