@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Prata&display=swap');


@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
   font-family: "Manrope", sans-serif;
   font-weight: 500;
}

@media (pointer: fine) {
  * {
     cursor: none;
  }
}

@media (pointer: coarse) {
  .custom-cursor {
     display: none !important;
  }
}

.custom-cursor-ring {
  transition: scale 0.2s ease-out, background-color 0.2s ease-out;
}

@theme {
  --color-primary: #5044e5;
}